@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

:root{
    --primary-color: #f1faff;
    --text-dark: #030712;
    --text-light:#6b7280;
    --extra-light:#fbfbfb;
    --white:#ffffff;
    --max-width: 1200px;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    flex-wrap: wrap;
}

body{
  font-family: "Montserrat", sans-serif;
}

.header_a {
    background-color: rgb(223, 223, 223);
    padding: .5rem;
    font-size: .8rem;
    color: var(--white);
}
.hed{
    padding: 2rem 3rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}


.nav_logo{
    font-size: 1.9rem;
    font-weight: 700;
    color: var(--text-dark);
}
.nav_links {
    list-style: none;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.link a{
    padding: 0.5rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-light);
}

.link a:hover{
    color: var(--text-dark);
}
.nav_logo2{
    
    font-size: 1.3rem;
    font-weight: 100;
    color: var(--text-dark);
}

/*============== login form css =====================*/

:root {
  --white-color: hsl(0, 0%, 100%);
  --black-color: hsl(0, 0%, 0%);
  
  --body-font: "Monserrat", sans-serif;
  --h1-font-size: 2rem;
  --normal-font-size: 1rem;
  --small-font-size: .813rem;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body,
input,
button {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.login{
    position: relative;
    height: 100vh;
    display: grid;
    align-items: center;
}

.login_bg{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.login_form{
    position: relative;
    margin-inline: 1.5rem;
    background-color: hsla(0, 0%, 100%, 0.1);
    border: 2px solid hsla(0, 0%, 100%, .7);
    padding: 2.5rem 1rem;
    color: var(--white-color);
    box-shadow: 0 0 25px black;
    border-radius: 1rem;
    backdrop-filter: blur(16px);
}

.login_title{
    text-align: center;
    font-size: var(--h1-font-size);
    margin-bottom: 1.25rem;
}

.login_inputs,
.login_box{
    display: grid;
}

.login_inputs{
    row-gap: 1.25rem;
    margin-bottom: 1rem;
}

.login_box{
    grid-template-columns: 1fr max-content;
    column-gap: .75rem;
    align-items: center;
    border: 2px solid hsla(0, 0%, 100%, .7);
    padding-inline: 1.25rem;
    border-radius: 4rem;
}
.login_inputs,
.login_button{
    border: none;
    outline: none;
}

.login_input{
    width: 100%;
    background: none;
    color: var(--white-color);
    padding-block: 1rem;
}

.login_input::placeholder{
    color: var(--white-color);
}

.login_box i{
    font-size: 1.25rem;
}

.login_check,
.login_check-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login_check{
    margin-bottom: 1rem;
    font-size: var(--small-font-size);
}

.login_check-box{
    column-gap: .5rem;
}

.login_check-input{
    width: 1rem;
    height: 1rem;
    accent-color: var(--white-color);
}

.login_forgot{
    color: var(--white-color);
}

.login_forgot:hover{
   text-decoration: underline; 
}

.login_button{
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: var(--white-color);
    border-radius: 4rem;
    color: var(--black-color);
    font-weight: 500;
    cursor: pointer;
}

.login_register{
    font-size: var(--small-font-size);
    text-align: center;
    color: black;
}

.login_register a{
    color: var(--white-color);
    font-weight: 500;
}

.login_register a:hover{
    text-decoration: underline;
}

@media screen and (min-width: 576px){
   .login{
    justify-content: center;
   }
   .login_form{
    width: 420px;
    padding-inline: 2.5rem;
   }
   .login_title{
    margin-bottom: 2rem;
   }
}
/*============== home-page css ====================*/
.winter_image img{
    width: 100%;
    position: relative;
    margin: auto;
}

.new_collection{
    position: relative;
    max-width: var(--max-width);
    margin: auto;
    padding: 5rem 1rem;
}

.new_collection img{
    max-width: 400px;
    margin: auto;
}

.collection_content{
    position: absolute;
    top: 50%;
    left: 2rem;
    transform: translateY(-50%);
}

.collection_content .section_title{
    margin-bottom: 2rem;
}

.collection_content p{
    font-size: .9rem;
    color: var(--text-light);
    margin-bottom: 0.5rem;
}

.collection_content h4{
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: .5rem;
}

a{
    color: black;
}
.btn{
    padding: 0.75rem 2rem;
    font-size: 0.8rem;
    outline: none;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}
.collection_content .btn {
    border: 1px solid var(--text-dark);
    color: var(--text-dark);
    background-color: var(--white);
}

.collection_content a:hover .btn {
    background-color: var(--text-dark);
    color: var(--white);
}
/*======================= category ===================*/
.section_title1{
    padding: 2rem;
    display: flex;
    justify-content: center;
    font-size: 3rem;
    background-color: rgb(112, 109, 112);
}
.category_nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

.category_nav a{
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--text-light);
    transition: 0.3s;
}

.category_nav a:hover{
    color: var(--text-dark); 
}

.category_grid{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    grid-template-columns: repeat(4, 1fr);
    background-color: rgb(223, 223, 223);;
}

.category_card{
    text-align: center;
    gap: 5rem;
    color: var(--text-dark);
}


.category_card p{
    font-size: .9rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.category_card p del{
    font-weight: 400;
    color: var(--text-light);
}
.image{
    width: 250px;
    height: auto;
    margin-bottom: 5px;
}
.category_nav .btn{
    border: 2px solid var(--text-dark);
    color: var(--text-dark);
    background-color: var(--white);
}
.category_nav a:hover .btn {
    background-color: var(--text-dark);
    color: var(--white);
}

/*--------------css for homepage --------*/
.section__container1 {
    max-width: var(--max-width);
    margin: auto;
    padding: 5rem 1rem;
}
  
.section__title {
    padding-bottom: 0.5rem;
    margin-bottom: 4rem;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    color: var(--text-dark);
    position: relative;
}
  
img {
    width: 100%;
    display: block;
}
  
body {
    font-family: "Montserrat", sans-serif;
}
  
.musthave__nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}
  
.musthave__nav a {
    font-size: 1rem;
    font-weight: 600;
    color: var(--text-light);
    transition: 0.2s;
}
.musthave__container .btn {
    border: 1px solid var(--text-dark);
    color: var(--text-dark);
    background-color: var(--white);
}

.musthave__container a:hover .btn {
    background-color: var(--text-dark);
    color: var(--white);
}
  
.musthave__nav a:hover {
    color: var(--text-dark);
}
  
.musthave__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}
  
.musthave__card {
    display: grid;
    gap: 0.5rem;
    color: var(--text-dark);
}
  
.musthave__card h4 {
    font-size: 1rem;
    font-weight: 600;
}
  
.musthave__card p {
    font-size: 0.9rem;
    font-weight: 500;
    margin-bottom: 1rem;
}
  
.musthave__card p del {
    font-weight: 400;
    color: var(--text-light);
}
/*======================= footer css ===================*/


body {
    font-family: "Montserrat", sans-serif;
}
  
.footer_container {
    background-color: rgb(223, 223, 223);
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
}
  
.footer_heading {
    justify-content: center;
    color: var(--text-light);
    font-size: 1rem;
    font-weight: 600;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    position: relative;
}
  
.footer_heading::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 50px;
    background-color: var(--text-light);
}

.footer_col{
    margin: 5%;
}

.footer_col p {
    font-size: 0.9rem;
    font-weight: 500;
    margin-bottom: 1rem;
    color: var(--text-light);
    cursor: pointer;
    transition: 0.3s;
}
  
.footer_col p:hover {
    color: var(--text-dark);
}
  
.footer_col p i {
    font-size: 1rem;
    margin-right: 0.5rem;
}
  
.footer_bar {
    background-color: rgb(223, 223, 223);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem 1rem;
    align-items: center;
}
  
.copyright {
    font-size: 0.9rem;
    font-weight: 500;
    color: var(--text-light);
}
  